.calculatingbox{
    border: 2px solid black;
    text-align: center;
    margin: 10vh;
    font-size: 20px;
    font-weight:bold;
    background-color: rgb(141, 209, 255);
}

.submit{
    background-color: rgba(80, 80, 80, 0.685);
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    border-radius: 30%;
    cursor:pointer;
    margin: 3vh;
    transition: .2s;
}

.submit:hover{
    background-color: rgb(108, 108, 108,0.685);
}

.result{
    text-decoration: underline;
    margin: 0% 15% 5% 15%;
}